.navbarColor{
    background-color: #0f1923;
    color: #eeecec;
}
.titleStyle{
    color: #eeecec;
}
.searchButton{
    background-color: #008CFF;
}
.searchButton:hover{
    background-color: #323b45;
}
.settingsButton{
    outline: none;
    border: 0 none;
}
.settingsButton:active,
.settingsButton:focus{
    outline: none;
    border: 0 none;
}
.searchField,
.searchField:active,
.searchField:focus{
    outline: none;
    border: 0 none;
}
.searchContainer{
    width: 50%;
}
